html, body {
    height: 100%;
    margin: 0;
    color: white;  /* Make all text in the body white */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(31,30,87,1) 52%, rgba(28,76,85,1) 76%, rgba(17,80,93,1) 94%);
}

h1 {
    color: white;  /* Ensure h1 text is white */
}

img.centered-image {
    width: 300px;  /* Set the desired width */
    height: auto;  /* Maintain aspect ratio */
    margin-bottom: 20px;  /* Adjust spacing between image and button */
    transition: outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out;  /* Smooth transition for the outline */
    outline: 0 solid white;  /* Initial outline */
    outline-offset: 0px;  /* Initial outline offset */
}

img.centered-image:hover {
    outline: 5px solid white;  /* White outline on hover */
    outline-offset: 5px;  /* Outline offset on hover */
}

button {
    background: linear-gradient(to right, #002f4b, #003b5c);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #003b5c, #002f4b);
}

.cart {
    text-align: center;
    margin-top: 20px;
}

