body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

button {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #00f2fe, #4facfe);
}

