body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: #ffffff;
}

header {
    background-color: #61dafb;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #61dafb;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 5px 0;
}

button {
    margin-top: 10px;
    padding: 5px;
    background-color: #61dafb;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
}

#login-message {
    margin-top: 10px;
    color: red;
}
